body{
    background-image: url(city-g7a61dce51_1920.jpg);
}

#navbar li, a{
    display: inline-block;
    padding: 10px 10px;
    color: white;
    border: 1px solid black;
    text-decoration: none;
    margin: 0;
    font-size: 20px;
}
#navbar ul{
    background-color: black;
}
h1{
    font-size: 120px;
    text-align: center;
    background-image: linear-gradient(red,yellow);
    margin-bottom: 10px;
    margin-top: 10px;
}
.sec1 p{
    width: 60%;
    color: white;
    font-size: 25px;
    font-weight: 500;
    border: 3px solid red;
    padding: 10px;
    display: inline-block;
}
h3{
    font-size: 80px;
    color: aqua;
    margin-top: 0;
    margin-bottom: 10px;
}
.side{
    display: inline;
    float: right;
    margin-right: 100px;
    padding: 0;
}
.formm label{
    color: white;
    font-size:35px;
    margin-right: 20px;
}
.formm input{
    height: 35px;
    width: 300px;
    /* margin-left: 27px; */
}
.formm{
    margin-top: 20px;
}
.input{
    margin-left: 27px;
}
.submit{
    margin-left: 140px;
    width: 306px;
    height: 30px;
}
.end p{
    color: white;
    text-align: center;
    font-size: 25px;
}